<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="angularjs" version="1.6.10" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="System.Xml.Linq" version="3.5.21022.801" targetFramework="net20" />
  <package id="WindowsBase" version="4.6.1055.0" targetFramework="net20" />
</packages>